.dictionary{
    transition: 0.5s;
    height: 50px;
}

.tree{
    float: left;
    height: 100%;
    min-height: 450px;
    width: 220px;
    margin: 5px;
}
.list{
    float: left;
    padding-left: 10px;
    width: 60%;
    margin: 5px;
}
