@page "/"

<div class="jumbotron">
    <h1>Authorization</h1>

     <p class="lead text-left">你想同意吗 <strong>@ApplicationName</strong>访问您的数据?(请求范围:@Scope)</p> 

    <form asp-controller="Authorization" asp-action="Authorize" method="post">
        @* 流请求参数，以便它们可以被接受/拒绝操作接收: *@
        @* @foreach (var parameter in Context.Request.HasFormContentType ? *@
        @*     (IEnumerable<KeyValuePair<string, StringValues>>) Context.Request.Form : Context.Request.Query) *@
        @* { *@
        @*     <input type="hidden" name="@parameter.Key" value="@parameter.Value" /> *@
        @* } *@

        <input class="btn btn-lg btn-success" name="submit.Accept" type="submit" value="Yes" />
        <input class="btn btn-lg btn-danger" name="submit.Deny" type="submit" value="No" />
    </form>
</div>

@code{
    [Parameter]
    [SupplyParameterFromQuery]
    public string? ApplicationName { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Scope { get; set; }
}